#search-div {
    padding-top: 15px;
}

#button-div {
    margin-top: 69px;
    padding-bottom: 10px;
    height: 100%;
    position: fixed;
}
#button {
    text-transform: capitalize;
    margin: 7px 3px 0 3px;
    font-size: 14px;
    width: 98%;
}

#gif-div {
    margin-left: 25%;
    text-align: center;
}

#gif {
    padding: 5px;
    width: 100%;
}

#gif:hover {
    background-color: black;
    opacity: .1;
    display: block;
}

#gifContainer {
    width: auto;
    margin: auto;
    margin-top: 5px;
    position: relative;
    z-index: 1000;
}

#gifText {
    position: absolute;
    bottom: 25px;
    left: 25px;
    z-index: 100;
    /* visibility: hidden; */
    display: none;
}

@media screen and (max-width: 576px) {
    #button-div {
        position: static;
        margin-top: 0
    }
    #button {
        text-align: center;
        width: auto;
    }
    #gif-div {
        margin-left: 0;
    }
    #button:last-child {
        margin-bottom: 0;
    }
}