body {
    color: white;
}

#search-div {
    padding-top: 15px;
}

#logo {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: bold;
}

.button-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    font-style: italic;
    font-size: 12px; 
    width: 50%; 
    padding-bottom: 8px;
    text-align: center;
}

#button-div {
    margin-top: 69px;
    padding-bottom: 10px;
    height: 100%;
    position: fixed;
}

#button {
    text-transform: capitalize;
    margin: 7px 3px 0 3px;
    font-size: 14px;
    width: 98%;
}

#gif-div {
    margin-left: 25%;
    text-align: center;
    min-height: 100vh;
}

.gifContainer {
    z-index: 1;
}

.gifText {
    display: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#title {
    font-size: 30px;
    font-style: bolder;
}

#user {
    font-size: 20px;
    font-style: italic;
}

.gifOnClick {
    -webkit-animation: fadeOut 0.5s;
    -moz-animation: fadeOut 0.5s;
    -o-animation: fadeOut 0.5s;
    animation: fadeOut 0.5s;
    opacity: .1;
}

#save {
    z-index: 1000;
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1; 
    }
    100% {
        opacity: .1;
    }
}

@media screen and (max-width: 576px) {
    #button-div {
        position: static;
        margin-top: 0
    }
    #button {
        text-align: center;
        width: auto;
    }
    #gif-div {
        margin-left: 0;
    }
    #button:last-child {
        margin-bottom: 0;
    }
    .gif {
        max-height: 60vh;
        overflow: hidden;
    }
    #title {
        font-size: 50px;
    }
    #user {
        font-size: 35px;
    }
    #logo {
        margin-right: 10px;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
    #logo {
       width: 24%; 
       text-align: center;
    }
}

